@charset "utf-8";


.front{
    color:blue;
}
#end{
    font-weight:bold;
}

a:link { 
    color:deepskyblue;
}


a:visited {
    color:red;
}

a:hover {
    color:red;
}

a:active {
    color:greenyellow;

}





